body{
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
  background-color: #fff2e8;
  font-family: "Arial", sans-serif;
}

.container-fluid {
  padding: 20px;
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #d89459;
  border-color: #ffffff;
}

.btn-primary {
  background-color: #d89459;
  border-color: #b36b39;
}

.btn-primary:hover {
  background-color: #b36b39;
  border-color: #9e5f2c;
}

h1,
h2 {
  color: #b36b39;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.column {
  flex: 24%;
  padding: 10px;
  box-sizing: border-box;
}

.column img {
  margin-top: 5px;
  border: 3px solid #ffffff;
  border-radius: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.column img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
  .column {
    flex: 48%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

.star {
  font-size: 16px;
  color: #bbb;
  transition: color 0.6s;
  cursor: pointer;
}

.star:hover {
  color: gold;
}

.card {
  width: 16rem;
  padding: 0.2rem;
  height: auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-text {
    font-size: 0.8rem;
}

#c1 h1{
  color: #333;
}

#c1 p{
  text-align: justify;
}

#c2 h2{
  color: #333;
}

#c2 p{
  text-align: justify;
}

#c3 h2{
  color: #333;
}

#c3 p{
  text-align: justify;
}

#c4 h2{
  color: #333;
}

#c4 p{
  text-align: justify;
}

#c5 h2{
  color: #333;
}

#c5 p{
  text-align: justify;
}

#c6 h2{
  color: #333;
}

#c6 p{
  text-align: justify;
}

#c7 h1{
  color: #333;
}

#principal h2{
  color: #333;
}





